@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500&family=Raleway:wght@400;700&family=Roboto:wght@100;300;400;700;900&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 a {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
}

.banner {
    min-height: 100vh;
    /* background-image: url(./images/bg-curve-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

#logo {
    margin: 0 30px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.navlinks ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navlinks ul li a {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/* End of Navbar */

/* Hero */

.hero {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.headline h1 {
    font-size: 2.5rem;
}

.headline p {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.form {
     display: flex;
     flex-direction: row;
     gap: 10px;
}

#email {
    height: 35px;
    width: 200px;
    padding: 10px;
}

.form button {
    width: 150px;
    cursor: pointer;
    background-color: hsl(224, 93%, 58%);
    border: none;
}

.form button a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.hero img {
    height: 40%;
    width: 40%;
}

/* End of Hero */

/* Main */

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 1.5rem;
    background-image: url(./images/bg-curve-desktop.svg);
    background-position: start;
    background-repeat: no-repeat;
    background-size: fill;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
}

.main img {
    height: 40%;
    width: 40%;
}

.content a {
    border-bottom: 3px solid hsl(170, 45%, 43%);
    width: 200px;
    color: hsl(170, 45%, 43%);
}

#arrow {
    width: 1.2rem;
}

.main p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.card {
    height: 200px;
    width: 50%;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.testi {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.testi img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.about p {
    font-size: 10px;
}
/* End of Main */

/* CTA */

.cta-container {
    display: flex;
    width: 100%;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    gap: 200px;
    background-color: hsl(238, 22%, 44%);
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    color: #fff;
}

.call-to-action h4 {
    font-size: 1.3rem;
    color: #fff;
}

.call-to-action p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;;
}

.cta-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.cta-form input {
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
}

.cta-form button{
    width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: hsl(224, 93%, 58%);
    border: none;
}

.cta-form button a {
    color: #fff;
}

/* End of CTA */

/* Footer */
.footer {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(243, 87%, 12%);
}

.footer img {
    color: #fff;
}

.footer a, .footer p {
    color: #fff;
}

.footer ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.fa-brands {
    border-radius: 50%;
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 12px;
}
/* End of Footer */

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    #logo {
        margin: 0 10px;
        heigth: 100px;
        width: 100px
    }
    
    .navlinks {
        margin: 0 20px;
    }
    
    .navlinks ul {
        flex-direction: row;
        gap: 10px;
    }
    
    .navlinks ul li a {
        font-size: 13px;
    }
    
    /* End of Navbar */
    
    /* Hero */
    
    .hero {
        flex-direction: column-reverse;
        padding: 30px;
        text-align: center;
        width: 100%;
        gap: 20px;
    }
    
    .headline {
        gap: 1.3rem;
        width: 100%;
    }
    
    .headline h1 {
        font-size: 1.8rem;
    }
    
    .headline p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    
    .form {
         display: flex;
         flex-direction: column;
         gap: 10px;
         justify-content: center;
         align-items: center;
    }
    
    #email {
        height: 40px;
        width: 100%;
        padding: 10px;
    }
    
    .form button {
        width: 100%;
        height: 40px;
        cursor: pointer;
        background-color: hsl(224, 93%, 58%);
        border: none;
    }
    
    .form button a {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }
    
    .hero img {
        height: 100%;
        width: 100%;
    }
    
    /* End of Hero */
    
    /* Main */
    
    .main {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 2rem;
        background-image: url(./images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: column-reverse;
    }
    
    .content {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .main img {
        height: 100%;
        width: 100%;
    }
    
    #arrow {
        width: 1.1rem;
    }
    
    .main p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    
    .card {
        height: 250px;
        width: 100%;
        gap: 10px;
        justify-content: center;
        align-self: start;
        padding: 20px;
        text-align: start;
    }
    
    .testi {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }
    
    .testi img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    
    .about p {
        font-size: 10px;
    }
    /* End of Main */
    
    /* CTA */
    
    .cta-container {
        padding: 30px;
        justify-content: center;
        align-items: center;
        /* height: 200px; */
        gap: 20px;
        flex-direction: column;
        height: 500px;
        text-align: center;
        width: 100%;
    }
    
    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        color: #fff;
    }
    
    .call-to-action h4 {
        font-size: 1.5rem;
    }
    
    .call-to-action p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;;
    }
    
    .cta-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .cta-form input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: none;
    }
    
    .cta-form button{
        width: 100%;
        height: 35px;
        cursor: pointer;
        background-color: hsl(224, 93%, 58%);
        border: none;
    }
    
    /* End of CTA */
    
    /* Footer */
    .footer {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        height: 500px;
    }
    
    
    .footer ul li a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    
    .fa-brands {
        border-radius: 50%;
        border: 1px solid #fff;
        height: 40px;
        width: 40px;
        text-align: center;
        align-items: center;
        padding: 12px;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}